
{% extends "base.html" %}
{% block content %}
    {% if brand %}    
        <h1>The following {{brand}} cameras are available</h1>
        {% for camera in cameras %}
            {% if camera.type==brand %}
                <h2>{{camera.name}}</h2>
            {% endif %}
        {% endfor %}
    {% else %}
    <h1> The following cameras are available</h1>
        {% for camera in cameras %}           
            <h2>{{camera.name}}</h2>            
        {% endfor %}
    {% endif %}  
{% endblock %}  
